@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --success: #10b981;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-xl hover:bg-primary-dark transition-colors font-medium;
  }
}
